@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primaryBackground: 0, 0%, 99%;
    --primaryText: 210, 10%, 8%;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --primaryText: 0, 0%, 99%;
    --primaryBackground: 210, 10%, 8%;
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  .coolgrey-light {
    --primaryColor: 235, 21%, 79%;
    --secondaryColor: 216, 17%, 38%;
    --accentColor: 197, 23%, 6%;
  }

  .coolgrey-dark {
    --primaryColor: 235, 21%, 21%;
    --secondaryColor: 218, 17%, 62%;
    --accentColor: 197, 24%, 94%;
    --primaryText: 0, 0%, 99%;
    --primaryBackground: 210, 10%, 8%;
  }

  .purple-light {
    --primaryColor: 281, 44%, 52%;
    --secondaryColor: 281, 62%, 74%;
    --accentColor: 281, 81%, 62%;
  }

  .purple-dark {
    --primaryColor: 281, 44%, 48%;
    --secondaryColor: 281, 62%, 26%;
    --accentColor: 281, 81%, 38%;
    --primaryText: 0, 0%, 99%;
    --primaryBackground: 210, 10%, 8%;
  }
  .coolblues-light {
    --primaryColor: 224, 58%, 89%;
    --secondaryColor: 225, 39%, 82%;
    --accentColor: 225, 39%, 82%;
  }

  .coolblues-dark {
    --primaryColor: 225, 59%, 11%;
    --secondaryColor: 225, 40%, 18%;
    --accentColor: 225, 40%, 18%;
    --primaryText: 0, 0%, 99%;
    --primaryBackground: 210, 10%, 8%;
  }
  .sunburst-light {
    --primaryColor: 37, 96%, 54%;
    --secondaryColor: 29, 96%, 53%;
    --accentColor: 29, 96%, 53%;
  }
  .sunburst-dark {
    --primaryColor: 37, 96%, 46%;
    --secondaryColor: 29, 96%, 47%;
    --accentColor: 29, 96%, 47%;
    --primaryText: 0, 0%, 99%;
    --primaryBackground: 210, 10%, 8%;
  }
  .rose-light {
    --primaryColor: 336, 84%, 80%;
    --secondaryColor: 342, 57%, 68%;
    --accentColor: 340, 37%, 47%;
  }
  .rose-dark {
    --primaryColor: 336, 84%, 20%;
    --secondaryColor: 342, 57%, 32%;
    --accentColor: 340, 37%, 53%;
    --primaryText: 0, 0%, 99%;
    --primaryBackground: 210, 10%, 8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
